base58
certifi
cffi
chardet
cryptography
Django==4.2.11
django-ipfs-storage
idna
ipfsapi
ipfshttpclient
multiaddr
netaddr
psycopg2-binary
pycparser
pytz
requests
six
sqlparse
urllib3
varint
web3[tester]
